<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>789214518071-gbuvg2pfiqb17qalbud6hc0pudegtg1c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.789214518071-gbuvg2pfiqb17qalbud6hc0pudegtg1c</string>
	<key>API_KEY</key>
	<string>AIzaSyDX9NxzoY92BUyWRnfMMSdl6Ixu8LWSy6E</string>
	<key>GCM_SENDER_ID</key>
	<string>789214518071</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.baoflutter.bf822Chat</string>
	<key>PROJECT_ID</key>
	<string>bf822-chat</string>
	<key>STORAGE_BUCKET</key>
	<string>bf822-chat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:789214518071:ios:6aa76a7e972ef958e258b2</string>
</dict>
</plist>